@media all and (max-width: 800px) {

    .pc_all{
        position:relative;
        clear:both;
        margin:0 auto;
        width: 100vw;
        overflow:hidden;
    }
    
    header{
        position:relative;
        clear:both;
        width:340px;
        height:130px;
        margin:0 auto;
    }
    
    /* 헤더 1번째 줄 */
    .header_box_01{
        position:relative;
        clear:both;
        width:340px;
        height:50px;
        /* background:#f90; */
    }

        #h_box_01_up{
            position:relative;
            clear:both;

            width:340px;
            display:flex;
            flex-flow:row nowrap;
            align-items: center;
            justify-content: space-between;
        }

        #sec_global{
            position:relative;
            float:left;
            width:170px;
            height:30px;
            /* background: pink; */
            display: flex;
            align-items: center;
            
        }

            #h_box_01_up select {
            position: relative;
            width:100px;
            height:25px;

            outline:none;
            border: solid 1px #262626;
            border-radius: 5px;
            padding: 5px;
        }

        .h_icon{
            height:50px;
            margin-right:10px;
        
            display:flex;
            flex-flow:row nowrap;
            align-items:center;
            /* background-color: pink; */
        }

        .h_icon a:nth-child(2),.h_icon a:nth-child(5) {
            display:none;
        }
  
        .h_icon img{
            margin-left:10px;
        }


        #h_box_01_down{
            display:none;
        }

        .header_box_02{
            position:relative;
            clear:both; 
            width:340px;
            height:90px;
            /* background-color: blueviolet; */

            display: flex;
            align-items: center;
        }

        .header_box_02 img{
            width:340px;
            /* background-color: #fdf7bf */
        }

        /* header 메뉴 */ㅠ

        .header_box_03 {
            position:relative;
            clear:both; 
            width:340px;
            height:30px;
        }

        #h_box_03_up{
            position:relative;
            clear:both;
            width:340px;
            height:30px; 
            /* background-color: palevioletred */

        }

        #h_box_03_down{
            display: none;
        }

    /* 여백삭제 */
    /* .blank{display:none;} */


    /* 메인메뉴 시작 */
    .menu_bar{
        position:relative;
        clear:both;
        width:340px;
        height:90px;
        border-top:solid 1px #888;
        border-bottom:solid 1px #888;
        margin:0 auto;
        
        

        /* background-color: blanchedalmond; */

        display:flex;
        flex-flow:row wrap;
        justify-content: space-between;
    }
        .menu_bar a{
            width:113.33px;
            height: 30px;
            line-height:30px;
        }

    /* 메인 이미지 */

    .img_all{
        position:relative;
        clear:both;
        width:340px;
        height:450px;
        overflow:hidden;
        margin:0 auto;
    }

        .main_img{display: none;}

        .main_img_small{
            display: block;
            position:absolute;
            left:0;
            top:0;
            width:340px;
            height:340px;
            z-index: 2;

            animation-duration:1s;
            animation-name: m_01;
            animation-iteration-count: 1;
        }

        @keyframes m_01 {
            0% {left : 80px;top: 80px; opacity: 0;
            top}
            100% {left: 0px; top: 0px; opacity: 1;}
        }


.gap_1400_80{
    width:100%;
    height:30px;
    /* background-color: #ddd; */
}

.banner_all{
    position:relative;
    clear:both;
    width:340px;
    height: 1800px;
    overflow: hidden;
    margin: 0 auto;

    display:flex;
    flex-flow:column nowrap;
}

    .banner_box{
        display:flex;
        flex-flow:column nowrap;
        width:340px;
        height:1360px;
    }
        .banner>p {
            margin-bottom: 10px;
        }

.title_weekly{
    font-size:1.5rem;
    margin-bottom:0px;
}

.product_row_all{
    position:relative;
    clear:both;
    width:100%;
    height:auto;
}

.product_box{
    margin:0 auto;
}

#middle_img{
    display:none;
}

#m_middle_img{
    display:block;
}

    #m_middle_img > img{
        margin:0 auto;
}

.board{
    position:relative;
    clear:both;
    width:100%;
    
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

.instarow{
    position:relative;
    clear:both;
    width:100%;
}

.instarow_picture{
    position:relative;
    clear:both;
    width:340px;
    height:auto;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    margin:0 auto;
}

footer{
    height:auto;
    align-items: center;
}

 .footer_box{
    width:340px;
    height:150px;
    border-bottom: solid 1px;
    border-right:none;
    text-align: center;
    margin-left:0px;
 }

 .footer_box > a {
    flex-flow: column wrap;
 }

 .f_icon1, .f_icon2, .f_icon3 {
    width: 130px
 }




}

